.submodule {
    margin: 0;
    padding: 0;

    background-color: white;
    margin-left: 20px;
    width: 350px;

    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(187, 187, 187);
}

/* ---------------------------- */

.header {
    background-color: rgb(105, 161, 163);
    padding: 10px;;

    border-radius: 10px;
    border-end-end-radius: 0;
    border-end-start-radius: 0;
}

.header p {
    color: white;

    font-size: 30px;
    font-weight: bold;

    text-align: center;
    letter-spacing: 2px;
}

/* ---------------------------- */

.scrollable-list {
    margin: 0;

    background-color: white;
    padding: 5px 10px;

    border-radius: 10px;

    list-style: none;
    height: 676px;

    overflow: hidden;
    overflow-y: auto;
}

.scrollable-list::-webkit-scrollbar {
    width: 5px;
}

.scrollable-list::-webkit-scrollbar-track {
    background: rgb(209, 209, 209);
    border-radius: 20px;

    margin-top: 15px;
    height: 50px;
}

.scrollable-list::-webkit-scrollbar-thumb {
    background: rgb(148, 148, 148);
    border-radius: 20px;
}

.scrollable-list::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
}

.scrollable-list::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
}

/* ---------------------------- */

.module-btn {
    background-color: rgb(195, 225, 226);
    font-size: 18px;
    font-weight: bold;

    padding: 20px;
    padding-left: 30px;

    border-radius: 10px;
    box-shadow: 0px 0px 3px rgb(187, 187, 187);

    margin-top: 8px;
    transition: 0.2s;
}

.module-btn:last-child {
    margin-bottom: 5px;
}

.module-btn:hover {
    background-color: rgb(138, 176, 177);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.module-btn:active {
    background-color: rgb(69, 109, 110);
}

.module-btn[current="1"] {
    background-color: rgb(69, 109, 110);
    color: white;
}

.module-btn[current="1"]:hover {
    cursor: auto;
}

/* ---------------------------- */

.container {
    display: flex;
    margin-top: 20px;
}

.content {
    padding: 0;

    background-color: white;
    margin-left: 20px;

    width: 77%;

    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(187, 187, 187);

    height: 800px;

    overflow: hidden;
    overflow-y: auto;
}

.content::-webkit-scrollbar {
    width: 5px;
}

.content::-webkit-scrollbar-track {
    background: rgb(209, 209, 209);
    border-radius: 20px;

    margin-top: 15px;
    height: 50px;
}

.content::-webkit-scrollbar-thumb {
    background: rgb(148, 148, 148);
    border-radius: 20px;
}

.content::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
}

.content::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
}

.video {
    margin: 0;
    padding: 20px;

    text-align: center;
}

.video iframe {
    width: 640px;
    height: 360px;

    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgb(187, 187, 187);
}

.text {
    padding: 20px;
}