* {
    font-family: Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(221, 221, 221);
    margin: 0;
    padding: 0;
}

/* --------------------------------------------------- */

.navbar ul {
    margin: 0;
    margin-top: 20px;

    list-style: none;
    display: flex;

    float: right;
}

.navbar {
    /* position: fixed; */
    background-color: white;
    padding: 10px;
    font-size: 24px;
}

.nav-item {
    margin-right: 40px;
}

/* --------------------------------------------------- */

#logo {
    margin-left: 20px;
    width: 80px;
}

#search {
    border: 1px solid rgb(78, 78, 78);
    border-radius: 25px;

    padding: 10px;
    padding-left: 15px;

    font-size: 24px;
    width: 600px;

    position: absolute;
    left: 50%;
    top: 50px;
    transform: translate(-50%, -50%);

    outline: none;
}

.icon-btn {
    font-size: 40px;
    color: rgb(67, 132, 134);
    transition: 0.2s;
}

.icon-btn:hover {
    color: rgb(94, 181, 184);
}

.icon-btn:active {
    color: rgb(43, 103, 105);
}

/* --------------------------------------------------- */

.popup {
    position: fixed;
    right: 0;

    background-color: white;
    box-shadow: 0px 0px 15px rgb(187, 187, 187);
    border-radius: 10px;

    width: 300px;
}

.popup-header, .popup-body {
    padding: 20px 30px;
}

.popup a {
    display: block;
    text-decoration: none;
    color: rgb(59, 59, 59);
}

.separator {
    border: 0;
    border-top: 0.5px solid rgb(180, 180, 180);

    margin: 0;
    padding: 0;
}

#fullname {
    font-weight: bold;
    margin-bottom: 5px;
}

#prof-btn {
    color: rgb(131, 131, 131);
}

#prof-btn:hover {
    text-decoration: underline;
}

.details-btn {
    margin-bottom: 10px;
}